/* Core CSS required for Ionic components to work properly */
@import "~@ionic/core/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/core/css/normalize.css";
@import "~@ionic/core/css/structure.css";

// @import "~@ionic/core/css/typography.css";
:root {
  --ion-font-family: 'Quicksand';
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  -webkit-tap-highlight-color: transparent;
}
