body {
  margin: 0px;
  padding: 0px;
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  overflow-x: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background-color: rgb(189, 189, 189);
}

a.icon-link {
  color: black;
  border-bottom: none;
  text-decoration: none !important;
}


a:not(.icon-link) {
  color: #585858;
  text-decoration: none;
  border-spacing: 4px;
  border-bottom: 3px dotted #585858;
  transition: all 0.5ms ease-in;

  &:hover {
    color: #000;
    border-spacing: 4px;
    border-bottom: 3px dotted #000;
  }
}
