/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

body {
  margin: 0px;
  padding: 0px;
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

* {
  -webkit-tap-highlight-color: transparent;
}

// /* farro-regular - latin */
// @font-face {
//   font-family: 'Farro';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Farro Regular'), local('Farro-Regular'),
//     url('../assets/fonts/farro/farro-v1-latin-regular.woff2') format('woff2'),
//     /* Chrome 26+, Opera 23+, Firefox 39+ */
//     url('../assets/fonts/farro/farro-v1-latin-regular.woff') format('woff');
//   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }

// /* quicksand-regular - latin */
// @font-face {
//   font-family: 'Quicksand';
//   font-style: normal;
//   font-weight: 400;
//   src: local(''),
//     url('../assets/fonts/quicksand/quicksand-v13-latin-regular.woff2') format('woff2'),
//     /* Chrome 26+, Opera 23+, Firefox 39+ */
//     url('../assets/fonts/quicksand/quicksand-v13-latin-regular.woff') format('woff');
//   /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }
