#site-logo {
  height: 65px;
}

@media only screen and (max-width: 500px) {
  #site-logo {
    height: 48px;
  }

  ion-header ion-toolbar {
    --min-height: 56px !important;
    --padding-start: 7px;
    --padding-top: 5px;
    --padding-bottom: 5px;
  }
}


ion-header ion-toolbar {
  --background: white;
  --min-height: 70.8px;
  --padding-start: 12px;
  --padding-top: 1px;
  --padding-bottom: 1px;
  --color: hsla(0, 0%, 0%, 0.87);
}
