:host {
  width: 100%;
  height: 100%;
}

#banner {
  width: 100%;
  height: auto;

}

.app-home {
  display: grid;
  justify-content: stretch;
  align-items: stretch;
  width: 100% !important;
}

.banner {
  justify-self: stretch;
}

app-description {
  display: flex;
  justify-self: center;
}